    {{> head }}

    {{> navbar }}

<div class="">

    <div class="col-3">   
        <h1>Ushuaia</h1>
    </div>

    <div class="col-3">   
        <img src="assets/img/4.jpg" alt="foton" class="img-thumbnail">
    </div>

</div>

    {{> footer }}